.carousel-caption {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.carousel-caption h3{
    font-size: 70px;
    font-weight: Bold;
}